{ 
  "extends": "airbnb/base",
  "rules": {
    "no-underscore-dangle" : "off",
	  "no-plusplus": "off",
	  "import/extensions": "off",
    "no-param-reassign": 0
  },
  "env": {
    "browser": true,
    "node": true
  }
}
